<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="default">

<head>
<title>Show Requirement Details</title>
</head>

<body>
	<div layout:fragment="content" class="row page-view">
		<div class="row">

			<h2>Requirement Details</h2>

			<table class="tbl-show table table-success ">
				<tr>
					<td>Translation From</td>
					<td th:text="${obj.transFrom}" /></td>
				</tr>
				<tr>
					<td>Translation To</td>
					<td th:text="${obj.transTo}" /></td>
				</tr>
				<tr>
					<td>Description</td>
					<td th:text="${obj.description}"></td>
				</tr>
				<tr>
					<td>Uploaded Doc</td>
					<td><a th:href="@{'/req/download/' + ${obj.uploadedDoc}}">Click Here</a></td>
				</tr>
				
				<tr>
					<td>Translated Doc</td>
					<td><a th:href="@{'/uploads/' + ${obj.translatedDoc}}">Click Here</a></td>
				</tr>
				
				
				<tr>
					<td>Status</td>
					<td th:text="${obj.status}"></td>
				</tr>

			</table>

			<form action="/req/delete">
				<input type="hidden" name="id" th:value="${obj.id}" />
				<h2>
					<input type="submit" class="btn btn-danger btn-submit"
						value="Delete" onclick="return confirm('Are you sure?');" /> <a
						th:href="@{'/req/edit/' + ${obj.id}}"
						class="btn btn-warning btn-submit">Edit</a>
				</h2>
			</form>
		</div>
	</div>
</body>

</html>