<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
</head>

<body>
	<div layout:fragment="content" class="row page-edit">
		<div class="row">
			<h2>
				Settings
			</h2>
			<div><p th:text="${msg}" style="color:red; text-align:center;"></p></div>
			<form th:action="@{/settings/update}" th:object="${settings}">
				<table class="tbl-form">
					
					<tr>
						<td> Price Per Page </td>
						<td th:if="${obj != null}"><input type="text" class="form-control" name="costPerPage" th:value="${obj.costPerPage}" /></td>
						<td th:if="${obj == null}"><input type="text" class="form-control" name="costPerPage" value="0" /></td>
					</tr>

		</table>
				<input th:if="${obj != null}" type="hidden" name="id" th:value="${obj.id}" />
				<button type="submit" class="btn btn-success btn-submit">Update</button>
			</form>
		</div>
	</div>
</body>

</html>